.display-linebreak {
	white-space: pre-line;
}

.ql-snow .ql-editor {
	min-height: 150px;
	max-height: 150px;
	overflow: auto;
}

.ql-snow .ql-editor {
	min-height: 150px;
	max-height: 150px;
	overflow: auto;
}
